.wrapper {
  display: flex;
  flex-direction: column;
  gap: 200px;
  padding: 100px;
}
.row {
  display: flex;
  align-items: center;
  gap: 200px;
}
.imagediv {
  position: relative;
  width: 616px;
  height: 400px;
  flex-shrink: 0;
}
.image{
  border-radius: 79px;
}
