.wrapper {
  display: flex;
  flex-direction: column;
  gap: 200px;
  padding: 100px;
}
.row {
  display: flex;
  align-items: center;
  gap: 200px;
}
.image {
  width: 616px;
  height: 237px;
  flex-shrink: 0;
  border-radius: 79px;
  background: #d9d9d9;
  color: black;
  text-align: center;
}
