.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #054717;
  height: 100px;
  width: 100%;
  color: #fff;
  -webkit-text-stroke-width: 1;
  font-family: Inter;
  font-weight: bold;
  line-height: normal;
  padding: 50px;
}
.name {
  color: #faff00;
  font-size: 32px;
  flex-shrink: 0;
  margin-right: 100px;
}
.links {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 40px;
  list-style-type: none;
  font-size: 24px;
}

.btn {
  cursor: pointer;
  transition: all .3s;
}
.btn:hover{
  color: #faff00;
}
