.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn {
  margin-left: 1rem;
}

.burgerMenu {
  position: relative;
}

.burgerIcon {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.burgerLinks {
  position: absolute;
  right: 0;
  top: 100%;
  color: #212121;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  list-style-type: none;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }
}